body{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: teal;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    font-size: 25px;
}